@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1{
    margin: 10px 0;
    font-size: 50px;
}
p{
    margin: 10px 0;
    font-size: 20px;
}
.container{
    animation: zoom 1.5s 1;
}
@keyframes zoom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
}
body{
    background-image: url(./360_F_525153525_3tVDBbD5fbMu6LMZbheSBB5pH1YbXJjW.jpg);
    background-color: pink;
    height: 100vh;
    width: 100vw;
    font-family: "Gloria Hallelujah", cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    text-align: center;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 50px;
    place-content: center;
}
.img-container{
    background-color: white;
    border: 8px solid red;
    border-radius: 30px;
    padding: 20px;
}
.img{
    width: 100%;
    height: 100%;
}



@media (max-width: 400px) {
    body{
    background-image: url(./360_F_525153525_3tVDBbD5fbMu6LMZbheSBB5pH1YbXJjW.jpg);
    background-color: pink;
    height: 100vh;
    width: 100vw;
    font-family: "Gloria Hallelujah", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .img-container{
        width: 100px;
    }
    h1{
    font-size: 25px;
    }
    p{
    font-size: large;
    }
    .imgs{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
    }
    .img-container{
    background-color: white;
    border: 3px solid red;
    border-radius: 20px;
    padding: 10px;
    }
}
