@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./360_F_525153525_3tVDBbD5fbMu6LMZbheSBB5pH1YbXJjW.jpg);
    font-family: "Gloria Hallelujah", cursive;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif-img{
    width: 200px;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container{
    text-align: center;
}
.btn-container{
    margin-top: 20px;
}
.btn{
    border: 5px solid rgba(255, 0, 0, 0.774);
    padding:10px 30px;
    border-radius: 30px;
    margin: 10px 10px;
}
.btn:hover{
    transition: all;
    transition-duration: 0.5s;
    background-color: pink;
}
















.btn{
    border: 5px solid rgba(255, 0, 0, 0.774);
    padding:10px 30px;
    border-radius: 30px;
    margin: 10px 10px;
}